.container {
  max-width: 800px;
  margin: 5em auto 2em auto;
}
.container > p {
   text-align: center;
  color: #f1f1f1;
}
.container > p a {
  color: #f5f5f5;
}
.inputWrapper {
  display: flex;
  white-space: nowrap;
  margin-inline: 1em;
  gap: 0.5em;
}
.input {
  padding: 8px;
  border: 1px solid #ccc;

  width: 80%;
}
.button {
  padding: 8px 16px;
  background-color: #82a4ee;
  border: none;
  font-weight: bold;
  color: rgb(245, 245, 245);
  cursor: pointer;
}
.button:active {
  background-color: #5986e7;
}
.orderList {
  margin: 1em;
  display: grid;
  max-width: 736px;
  gap: 0.5em;
}
.orderList > div {
  background: #d6e3ff;
  padding: 1em;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  justify-content: space-between;
  gap: 1em;
  word-break: break-word;
}
.orderList div::selection {
  background-color: #0000007e;
  color: #d6e3ff;
}
.orderList input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.3em;
}
.btn button {
  padding: 8px 12px 6px 12px;
  background-color: #ed5e68;
  border: none;
  cursor: pointer;
  color: #f1f1f1;
  word-break: keep-all;
  font-size: 1.125em;
}
.btn button:active {
  background-color: #d8575f;
}
.btn {
  display: flex;
  gap: 0.3em;
}
.btn button:nth-child(2) {
  background-color: #339966;
}
.btn button:nth-child(2):active {
  background-color: #287a51;
}
.btn button:nth-child(3) {
  background-color: #428bca;
}
.btn button:nth-child(3):active {
  background-color: #3774a8;
}
@media (max-width: 474px) {
  .btn {
    flex-wrap: wrap;
    justify-content: end;
  }
  .btn button {
    padding: 6px 8px 4px 8px;
  }
}
